body {
    background-color: darkgrey;
}

.cabeca {
    width: 200px;
}

.corpo {
    width: 200px;
}

.inimigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    align-items: center;
    animation: mover 2s linear infinite;
}

@keyframes mover {
    0% {
        transform: translate(100px, -10%);
    }
    50% {
        transform: translate(800px, -10%);
    }
    100% {
        transform: translate(100px, -10%);
    }

    
}